@model DonationPickUpServices.Models.ViewModels.DonationViewModels.DonationIndexViewModel
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Viewing Donations";
}

<h2>@ViewData["Title"]</h2>


@{ var user = await UserManager.GetUserAsync(User);}

@if (user.UserTypeId == 4)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Donation.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Donation.Status)
                </th>
                <th>
                    Category
                </th>
                <th>
                    @Html.DisplayNameFor(model => user.Address)
                </th>
            </tr>
        </thead>
        <tbody>
                @foreach (var donation in Model.CustDonations)
                {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => donation.DateCreated)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => donation.Status.Title)
                </td>

                @foreach (var j in donation.Items)
                {
                    <td>
                        @Html.DisplayFor(modelItem => j.ItemType.Title)
                    </td>

                    @if (donation.ApplicationUserId == user.Id)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => donation.ApplicationUser.Address) <br />
                            @Html.DisplayFor(modelItem => donation.ApplicationUser.City),
                            @Html.DisplayFor(modelItem => donation.ApplicationUser.State) <br />
                            @Html.DisplayFor(modelItem => donation.ApplicationUser.ZipCode)
                        </td>
                    }
                }
                <td></td>
                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@donation.DonationId">Details</a> |
                    @if(donation.StatusId == 1)
                    {
                        <a class="btn btn-danger" asp-action="Cancel" asp-route-id="@donation.DonationId">Cancel</a>
                    }
                </td>
            </tr>

                }
        </tbody>
    </table>
}
else if (user.UserTypeId == 2 || user.UserTypeId == 1)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Donation.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Donation.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => user.Address)
                </th>
                <th>
                    Customer
                </th>
            </tr>
        </thead>
        <tbody>
                @foreach (var donation in Model.Donations)
                {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => donation.DateCreated)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => donation.Status.Title)
                </td>

                @foreach (var j in donation.Items)
                {

                    @if (j.ApplicationUserId == donation.ApplicationUserId)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => donation.ApplicationUser.Address) <br />
                            @Html.DisplayFor(modelItem => donation.ApplicationUser.City),
                            @Html.DisplayFor(modelItem => donation.ApplicationUser.State) <br />
                            @Html.DisplayFor(modelItem => donation.ApplicationUser.ZipCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => donation.ApplicationUser)
                        </td>
                    }
                }
                <td></td>
                <td>
                    @* This will be how the employee changes the status, on Donations/Details *@
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@donation.DonationId">Details</a>
                </td>
            </tr>

                }
        </tbody>
    </table>
}
else
{
    <h4>You goofed somewhere</h4>
}
